.btn-file {
    position: relative;
    overflow: hidden;
    background-color:#337ab7 !important;
    background-image: url('../imgs/uploadfile.png') !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:50px !important;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 30;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.btn-file:hover{
  background-color: #286090 !important;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}



.panel-default > .panel-heading {
  color: #000;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.posts > .panel-default > .panel-heading{
  color: #000;
  background-color: #fff;
  border-color: #dddddd;
}

.posts > .panel{
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2   ;
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

}

.postcontainer{
  border:none;
  box-shadow:none;
}

.postData{
  padding-top:2px;
  padding-bottom: 2px;
}

.panel{
  border-radius:0px;
}